/* Global color variables */
:root {
	--color-base: #dcb891;
	--color-dark: #2c3e50;
	--color-light: #ecf0f1;
	--color-highlight: #be976d;
	--color-background: #f5f6fa;
	--color-border: #34271d;

	--color-green: #9de687;
	--color-orange: #e6c187;
	--color-pink: #e687d6;
	--color-blue: #87b9e6;
	--color-dark-green: #3c4a38;
}


body {
	background: var(--color-background);
	color: var(--color-dark);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.title {
	padding-top: 60px;
	color: var(--color-green);
	font-size: 40px;
	font-weight: bold;
	font-family: monospace;
	text-shadow:
        -2px -2px 0 var(--color-dark-green),
        2px -2px 0 var(--color-dark-green),
        -2px 2px 0 var(--color-dark-green),
        2px 2px 0 var(--color-dark-green),
        -3px 0px 0 var(--color-dark-green),
        3px 0px 0 var(--color-dark-green),
        0px -3px 0 var(--color-dark-green),
        0px 3px 0 var(--color-dark-green);
}



.main-div {
	background: var(--color-light);
	margin: 10px;
	padding: 75px 26px;
	padding-bottom: 100px;
	border-radius: 18px;
	box-shadow: 0 4px 24px rgba(44, 62, 80, 0.50);
	height: 80vh;
	min-height: 600px;
	min-width: 300px;
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
}

.content {
	display: flex;
	background-image: url("images/backgrounds/bg_03.png");
	flex-direction: row;
	background-size: cover;
	height: 80%;
}

.content-left {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tamagotchi-container {
	position: relative;
	width: auto;
	min-width: 50%;
	max-width: 360px;
	height: 100%;
	max-height: 480px;
	background-color: #e8d9c3;
	mask-image: url('images/egg_base.gif');
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	align-items: center;
	justify-content: center;
}

.egg-face {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: contain;
	justify-self:center;
}

/************
	BUTTONS
*************/
.button-div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	width: 20%;
	margin-left: auto;
	gap: 16px;
	padding: 1em;
}

.button-div button, .button-div input[type="button"], .button-div input[type="submit"] {
	width: 100%;
	height: 20%;
	min-height: 10%;
	padding: 10px 0;
	border: 4px solid var(--color-dark-green);
	border-radius: 8px;
	background: linear-gradient(180deg, var(--color-green) 0%, #8CCC84 100%);
	background-origin: border-box;
	box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
	touch-action: manipulation;
}

.button-div button img {
	height: 70%;
	min-height: 15px;
	width: 80%;
	fill: var(--color-pink);
	filter: invert(24%) sepia(20%) saturate(512%) hue-rotate(61deg) brightness(99%) contrast(89%);
}


.button-div button:hover,
.button-div button:active {
  border-color: rgba(27, 53, 30, 0.9);
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
}

.button-div button:hover {
  transform: translateY(-1px);
}

.button-div button:active {
	transform: translateY(0px);
}

/*
.button-div button:hover, .button-div input[type="button"]:hover, .button-div input[type="submit"]:hover {
	background: var(--color-highlight);
	color: var(--color-dark);
}
*/

.button-div:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/*Buttom div bottom*/

.button-div-bottom {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	width: 20%;
	margin-left: auto;
	gap: 10px;
	padding: 10px;
}

.button-div-bottom button, .button-div input[type="button"], .button-div input[type="submit"] {
	width: 50%;
	height: 60%;
	min-height: 30px;
	min-width: 30px;
	padding: 5px 0px;
	border: 4px solid var(--color-dark-green);
	border-radius: 8px;
	background: linear-gradient(180deg, var(--color-green) 0%, #8CCC84 100%);
	background-origin: border-box;
	box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
	touch-action: manipulation;
}

.button-div-bottom button img {
	height: 70%;
	min-height: 15px;
	width: 80%;
	fill: var(--color-pink);
	filter: invert(24%) sepia(20%) saturate(512%) hue-rotate(61deg) brightness(99%) contrast(89%);
}


.button-div-bottom button:hover,
.button-div-bottom button:active {
  border-color: rgba(27, 53, 30, 0.9);
  box-shadow: rgba(0, 0, 0, 0.5) 0 4px 12px;
}

.button-div-bottom button:hover {
  transform: translateY(-1px);
}

.button-div-bottom button:active {
	transform: translateY(0px);
}

/*
.button-div button:hover, .button-div input[type="button"]:hover, .button-div input[type="submit"]:hover {
	background: var(--color-highlight);
	color: var(--color-dark);
}
*/

.button-div-bottom:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.status-bar {
	height: 22px;
	background: var(--color-orange);
	color: #fff;
	padding: 8px 16px;
	border-radius: 12px;
	margin-top: 24px;
	font-size: 1.1em;
	box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
}

.text {
	color: var(--color-green);
	align-items: center;
	justify-content: center;
	background: #e7d3b3;
	font-size: 20px;
	height: clamp(120px, calc(400px - 20vw), 350px);
	flex-shrink: 0;
	margin-top: 24px;
	padding: 5px 5px 5px 5px;
	border-radius: 18px;
	font-weight: bold;
	font-family: monospace;
	text-shadow:
        -2px -2px 0 var(--color-dark-green),
        2px -2px 0 var(--color-dark-green),
        -2px 2px 0 var(--color-dark-green),
        2px 2px 0 var(--color-dark-green),
        -3px 0px 0 var(--color-dark-green),
        3px 0px 0 var(--color-dark-green),
        0px -3px 0 var(--color-dark-green),
        0px 3px 0 var(--color-dark-green);
}